name: Build Mod
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.5

      - name: Build and Package
        # Добавляем настройку памяти прямо в команду
        run: gradle jar --no-daemon
        env:
          ORG_GRADLE_PROJECT_kotlin_daemon_jvm_options: "-Xmx2048m"
          GRADLE_OPTS: "-Xmx2048m -Dorg.gradle.jvmargs=-Xmx2048m"

       - name: Upload Artifact
         uses: actions/upload-artifact@v4
         with:
          name: Mod-Jar
          # Ищем во всех подпапках build, чтобы точно не промахнуться
          path: build/**/libs/*.jar
          if-no-files-found: error
  